.wp-block-livingpixel-blocks-progress-bar-block {
	width: 100%;
	background-color: grey;
}

.wp-block-livingpixel-blocks-progress-bar-block .bar {
	width: 1%;
	height: 30px;
	background-color: green;
}
